{% extends 'generic/object.html' %}
{% load helpers %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="row">
    <div class="col col-12 col-md-5">
      <div class="card">
        <h2 class="card-header">{% trans "Config Context" %}</h2>
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">{% trans "Name" %}</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Weight" %}</th>
            <td>{{ object.weight }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Profile" %}</th>
            <td>{{ object.profile|linkify|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Description" %}</th>
            <td>{{ object.description|placeholder }}</td>
          </tr>
          <tr>
            <th scope="row">{% trans "Active" %}</th>
            <td>{% checkmark object.is_active %}</td>
          </tr>
        </table>
      </div>
      {% include 'core/inc/datafile_panel.html' %}
      <div class="card">
        <h2 class="card-header">{% trans "Assignment" %}</h2>
        <table class="table table-hover attr-table">
          {% for title, objects in assigned_objects %}
            <tr>
              <th scope="row">{{ title }}</th>
              <td>
                <ul class="list-unstyled mb-0">
                  {% for object in objects %}
                    <li>{{ object|linkify }}</li>
                  {% empty %}
                    <li class="text-muted">{% trans "None" %}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="col col-12 col-md-7">
      {% include 'inc/sync_warning.html' %}
      <div class="card">
        {% include 'extras/inc/configcontext_data.html' with title="Data" data=object.data format=format copyid="data" %}
      </div>
    </div>
  </div>
{% endblock %}
